- print() -> Output
- input() -> input

In [3]:
name = "Zaid Kamil"
city = "Lucknow"

In [4]:

print("Information about me")
print(name)
print(city)

Information about me
Zaid Kamil
Lucknow

In [5]:
print("Information about me", name, city)

Information about me Zaid Kamil Lucknow

In [6]:
print('I am',name, 'and i live in', city)

I am Zaid Kamil and i live in Lucknow

# formatted string
these are special strings in python ,where we prepend f before the opening quote,making the string an f-string. we can then embed python expression directly inside the string. the expressions are replaced with their values.

In [7]:
print(f"I am {name} and i live in {city}")

I am Zaid Kamil and i live in Lucknow

In [11]:
n1 = "Amjad"
c1 = 'Lucknow'
n2, c2 = "Aman", 'Lucknow'
n3, c3 = 'Siya', 'Lucknow'
n4, c4 = 'bhupendra', 'Lucknow'

In [12]:
print(f'{n1:15} {c1}')
print(f'{n2:15} {c2}')
print(f'{n3:15} {c3}')
print(f'{n4:15} {c4}')

Amjad           Lucknow
Aman            Lucknow
Siya            Lucknow
bhupendra       Lucknow


- for right align we can use > as print(f'{n1:>15} {c1})
- for center align we can use ^
- by default it is left align

In [14]:
print(f'1. {n1:>15} {c1}')
print(f'2. {n2:>15} {c2}')
print(f'3. {n3:>15} {c3}')
print(f'4. {n4:>15} {c4}')

1.           Amjad Lucknow
2.            Aman Lucknow
3.            Siya Lucknow
4.       bhupendra Lucknow

In [15]:
print(n1,n2,n3,n4)

Amjad Aman Siya bhupendra

In [16]:
print(n1,n2,n3,n4, sep='\t')

Amjad	Aman	Siya	bhupendra

In [17]:
print(n1,n2,n3,n4, sep='\n')

Amjad
Aman
Siya
bhupendra

In [18]:
print(n1,n2,n3,n4, sep=', ')

Amjad, Aman, Siya, bhupendra